.page-wrapper {
  width: 100vw;
  height: 100vh;
  background: url('../img/blurr.png');
}
main {
  width: 1000px;
  height: 500px;
  background-color: #fff;
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.access-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url('../img/lbg.jpg');
  background-size: 155%;
  background-position: 25% 20%;
  background-repeat: no-repeat;
}
.access-container {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 10px 25px;
  background: url('../img/dsp2017.png') 55% 96% no-repeat;
}
label {
  display: block;
  margin-bottom: 40px;
}
.reg label {
  margin-bottom: 15px;
}
.input-name {
  margin: 10px 0;
  display: block;
  text-transform: lowercase;
  font-weight: bold;
  color: #4b4b4b;
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #c5c4c4;
  outline: none;
  text-indent: 5%;
  font-size: 16px;
}
.help {
  display: block;
  float: right;
  font-size: 12px;
  color: #5d5d5d;
  font-style: italic;
}
.login-btn {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: none;
  background: #24c45c;
  cursor: pointer;
  transition: all 0.3s;
  margin: 10px 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.login-btn:hover {
  background: #3fdc76;
}
h1 {
  color: #181818;
}
.reg h1 {
  margin: 0;
}
