body{
	background: url(../img/bg-shades.png);
	background: url(../img/bg-shades.svg);
}
main{
	font-size: 14px;
	height: 100%;
	padding: 0 6%;
	display: flex;
	justify-content: space-between;
	color: #1c1c1c;
}
.left-column{
  width: 700px;
  background-color: transparent;
  position: relative;
}
.right-column{
  width: 350px;
  background-color: transparent;
  position: relative;
}
.image-container{
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: #eee;
	overflow: hidden;
}
.image-options{
	position: absolute;
	right: 2%;
	bottom: 2%;
	visibility: hidden;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.2s;
	cursor: pointer;
}
.image-im-info{
	position: absolute;
	width: 10px;
	height: 10px;
	top: 10px;
	right: 10px;
	border-radius: 50%;
	opacity: 0.3;
	z-index: 11;
	transition: opacity 0.3s;
}
.red{
	background: #ff1920;
}
.green{
	background: green;
}
.image-im-info:hover{
	opacity: 1;
}
.image-container:hover .image-options{
	visibility: visible;
	opacity: 1;
}
.image-container::after{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background: rgba(239,1,124,0);
	background: -webkit-linear-gradient(rgba(239,1,124,0) 0%, rgba(67,0,35,0) 72%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(rgba(239,1,124,0) 0%, rgba(67,0,35,0) 72%, rgba(0,0,0,1) 100%);
	background: linear-gradient(rgba(239,1,124,0) 0%, rgba(67,0,35,0) 72%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef017c', endColorstr='#000000', GradientType=0 );
	transition: opacity 0.4s;
	opacity: 0;
}

.image-container:hover.image-container::after{
	opacity: 1;
	visibility: visible;
}
.image-max-box{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	z-index: 99;
}
.image-image{
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.image-max{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.max-close{
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 9999;
	cursor: pointer;
}
.image-image-background{
	position: absolute;
	width: 110%;
	height: 110%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: blur(5px);
}
.image-options-icon{
	width: 20px;
	height: 20px;
}
.image-desc{
	position: absolute;
	width: 100%;
	min-height: 200px;
	height: 400px;
	background: #ededed;
	border-radius: 5px;
}
.i-name{
	display: inline-block;
	padding: 7px;
	color: #e8e8e8;
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}
.i-value{
	display: inline-block;
	padding: 7px;
	color: #e8e8e8;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
.i-container{
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 12px;
}
.i-info-container{
	clear: both;
	margin: 5px;
}
.desc{
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 1%;
	width: 95%;
	max-height: 140px;
	background-color: #1A2D33;
	color: #e8e8e8;
    box-sizing: border-box;
    padding: 5% 20px;
}
.i-blue{
	background: #2688c7;
}
.i-dblue{
	background: #0a659f;
}
.i-green{
	background: #a2bc20;
}
.i-dgreen{
	background: #7e940f;
}
.i-red{
	background: #da4f4a;
}
.i-dred{
	background: #bc201b;
}
.i-yellow{
	background: #ffc20f;
}
.i-dyellow{
	background: #d9a714;
}
.i-orange{
	background: #fd7c29;
}
.i-dorange{
	background: #df5d0a;
}

.i-icon-camera{
	padding-left: 25px;
	background-image: url(../icons/camera.png);
	background-size: 20%;
	background-position: 12% 50%;
	background-repeat: no-repeat;
}
.i-icon-model{
	padding-left: 25px;
	background-image: url(../icons/model.png);
	background-size: 20%;
	background-position: 12% 50%;
	background-repeat: no-repeat;
}
.i-icon-web{
	padding-left: 25px;
	background-image: url(../icons/web.png);
	background-size: 20%;
	background-position: 12% 50%;
	background-repeat: no-repeat;
}
.i-icon-place{
	padding-left: 25px;
	background-image: url(../icons/place.png);
	background-size: 20%;
	background-position: 12% 50%;
	background-repeat: no-repeat;
}
.image-info{
	margin-top: 400px; /*********************  <--- to fixed; ******************/
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background: #dddddd;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.showimg{
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100wh;
	height: 100vh;
}
.rate-submit-container{
	position: absolute;
	width: 100%;
	bottom: 0px;
	text-align: center;
	color: #e8e8e8;
}
.rate-textrate{
	margin: 10px 0;
}
.rate-textrate-name{
	display: inline-block;
	background: #111;
	padding: 5px 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.rate-textrate-value{
	display: inline-block;
	background: blue;
	padding: 5px 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.rate-submit-btn{
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ebebeb;
	border: none;
	background: #4df22d;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.5s;
	outline: none;
	cursor: pointer;
}
.rate-submit-btn:hover{
	box-shadow: 0px 0px 23px 0px rgba(21,255,0,1);
}
.rate-submit-btn:disabled { /** [i] **/
	background: #55744f;
	color: #979797;
}
input[type="submit"]:disabled:hover{
	cursor: not-allowed;
	box-shadow: none;
}
.rate-color{
	background: #f1a211;
}
.rate-color-d{
	background: #bd7c03;
}
.rate-info{
	background: #fff;
	padding: 2px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 30px;
	display: flex;
	color: #ebebeb;
	background: #ff0133;
}
.rate{
	font-size: 20px;
	padding: 0 10px;
	vertical-align: middle;
	align-self: center;
	transform: translateY(-4%); /** TO FIX **/
}
.rate-value{
	font-size: 15px;
	padding-right: 10px;
	align-self: center;
}
.rate-user-info{
	padding: 15px;
}
.rate-user-valuename{
	font-weight: bold;
}
.rate-range{
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	width: 450px;
	height: 20px;
	appearance: none;
	-webkit-appearance: none;
	overflow:hidden;
	outline: none;
	z-index: 0;
	background: #eee;
	border-radius: 20px;
	color: rgba(213, 142, 0, 0.75);
	background: url(../img/range.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.rate-range:hover{
	cursor: pointer;
}
.rate-range::-webkit-slider-thumb {
	position:relative;
   -webkit-appearance: none; 
    cursor: pointer;
    /* background-color: rgba(250, 142, 0, 0.80); */
    width: 0px;
    height: 20px;
    box-shadow: -230px 0 0 230px;
    z-index: 0;
	transition: all 2s;
}
.rate-range::-webkit-slider-thumb:hover{
	cursor: pointer;
}
.user_banner{
	width: 100%;
	height: 225px;
	background: url(../img/abstract.jpg);
	position: relative;
}
.user_avatar{
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	height: 250px;
	width: 250px;
	background: red;
	/*background: url(../userdata/avatars/avatar.png);*/
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	border-radius: 50%;
}
.user_avatar_i{
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	height: 250px;
	width: 250px;
	background: red;
	/*background: url(../userdata/avatars/avatar.png); */
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	border-radius: 50% !important;
	cursor: pointer;
}
.user_avatar_i::after{
	content: "Zmień Avatar";
	display: flex;
	align-items: center; 
	text-align: center;
	justify-content: center;
	font-weight: bold;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255,255,255, 0.6);
	opacity: 0;
	transition: 0.4s;
}
.user_avatar_i:hover::after{
	opacity: 1;
}

.block{
	display: block;
}
.user_container{
	width: 100%;
}
.user_username{
	margin-top: 60px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 2em;
}
.user_username_header{ /** to change(?) **/
	font-weight: bold;
	vertical-align: center;
}
.user_username_rank{
	display: block;
	font-size: 0.5em;
}
.user_columns{
	padding: 0 6%;
	display: flex;
	justify-content: space-between;
}
.user_left{
	width: 49%;
}
.user_right{
	width: 49%;
	text-align: right;
}
.user_info{
	display: inline-block;
	margin-left: ;
	font-size: 0; /* white space fix */
}
.user_info_name{
	display: inline-block;
	padding: 10px 15px;
	background: rgba(134,35,70,1);
	background: -moz-linear-gradient(left, rgba(134,35,70,1) 0%, rgba(204,44,79,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,35,70,1)), color-stop(100%, rgba(204,44,79,1)));
	background: -webkit-linear-gradient(left, rgba(134,35,70,1) 0%, rgba(204,44,79,1) 100%);
	background: -o-linear-gradient(left, rgba(134,35,70,1) 0%, rgba(204,44,79,1) 100%);
	background: -ms-linear-gradient(left, rgba(134,35,70,1) 0%, rgba(204,44,79,1) 100%);
	background: linear-gradient(to right, rgba(134,35,70,1) 0%, rgba(204,44,79,1) 100%);
	color: #ebebeb;
	font-size: 14px; /* white space fix */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.user_info_value{
	display: inline-block;
	padding: 10px 15px;
	background: rgba(224,65,97,1);
	background: -moz-linear-gradient(left, rgba(224,65,97,1) 0%, rgba(254,94,92,1) 51%, rgba(242,102,102,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,65,97,1)), color-stop(51%, rgba(254,94,92,1)), color-stop(100%, rgba(242,102,102,1)));
	background: -webkit-linear-gradient(left, rgba(224,65,97,1) 0%, rgba(254,94,92,1) 51%, rgba(242,102,102,1) 100%);
	background: -o-linear-gradient(left, rgba(224,65,97,1) 0%, rgba(254,94,92,1) 51%, rgba(242,102,102,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,65,97,1) 0%, rgba(254,94,92,1) 51%, rgba(242,102,102,1) 100%);
	background: linear-gradient(to right, rgba(224,65,97,1) 0%, rgba(254,94,92,1) 51%, rgba(242,102,102,1) 100%);
	color: #ebebeb;
	font-size: 14px; /* white space fix */
	font-weight: bold;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.user_btn{
	padding: 10px 15px;
	border: none;
	font-size: 14px;
	cursor: pointer;
	font-weight: bold;
	color: #ebebeb;
background-color: rgba(214,43,80,1);
background: -moz-linear-gradient(left, rgba(214,43,80,1) 0%, rgba(255,64,80,1) 100%);
background-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(214,43,80,1)), color-stop(100%, rgba(255,64,80,1)));
background-color: -webkit-linear-gradient(left, rgba(214,43,80,1) 0%, rgba(255,64,80,1) 100%);
background-color: -o-linear-gradient(left, rgba(214,43,80,1) 0%, rgba(255,64,80,1) 100%);
background-color: -ms-linear-gradient(left, rgba(214,43,80,1) 0%, rgba(255,64,80,1) 100%);
background-color: linear-gradient(to right, rgba(214,43,80,1) 0%, rgba(255,64,80,1) 100%);
border-radius: 15px;
transition: all 0.4s;
}
.user_btn:hover{
	background-color: rgba(235,56,95,1);
background-color: -moz-linear-gradient(left, rgba(235,56,95,1) 0%, rgba(252,104,119,1) 100%);
background-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,56,95,1)), color-stop(100%, rgba(252,104,119,1)));
background-color: -webkit-linear-gradient(left, rgba(235,56,95,1) 0%, rgba(252,104,119,1) 100%);
background-color: -o-linear-gradient(left, rgba(235,56,95,1) 0%, rgba(252,104,119,1) 100%);
background-color: -ms-linear-gradient(left, rgba(235,56,95,1) 0%, rgba(252,104,119,1) 100%);
background-color: linear-gradient(to right, rgba(235,56,95,1) 0%, rgba(252,104,119,1) 100%);
}
.user_btn_container{
	display: inline-block;
}
.user_line{
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}
.nomargin{
	margin: 0;
}
.user_stats_container h3{
	text-transform: uppercase;
	text-align: center;
	margin: 20px;
	position: relative;
}
.user_stats_container h3::after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 40%;
	height: 2px;
	background: #222;
}
.user_stats_container h3::before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 40%;
	height: 2px;
	background: #222;
}


/*********** STATS ***********/

.stats_table  {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	width: 100%;
	font-size: 14px;
		color: #ebebeb;
}
.stats_table td{
	padding: 10px 5px;
	overflow: hidden;
	word-break: normal;
	color: #222;
}
.stats_table td:first-child{
	border-left: 1px solid #bd2a4d;
}
.stats_table td:last-child{
	border-right: 1px solid #bd2a4d;
}
.stats_table th:first-child{
	border-top-left-radius: 20px;
}
.stats_table th:last-child{
	border-top-right-radius: 20px;
}
.stats_table th{
	padding: 10px 5px;
	overflow: hidden;
	word-break: normal;
		background: #e44560;
}
.stats_table th:nth-child(odd) {
	background-color: #bd2a4d ;
}
.stats_desc{
	max-width: 200px;
}
.stats_table tr:nth-child(odd) {
	background-color: #fff7f7 ;
}
.stats_table .int{
	font-size: 16px;
}
.stats_btn{
	display: block;
	margin: 10px auto;
	padding: 10px 15px;
	border: none;
	padding-left: 35px;
	position: relative;
	outline: none;
	border-radius: 15px;
	background: #222;
	color: #ebebeb;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.4s;
}
.stop::after{
	content:"";
	position: absolute;
	left: 3;
	top:0;
	height: 100%;
	width: 35px;
	background: url(../icons/stop.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
.stop:hover{
	background-color: #333;
}
.edit{
	background-color: #e26100;
}
.edit:hover{
	background-color: #ff730a;
}
.edit::after{
	content:"";
	position: absolute;
	left: 3;
	top:0;
	height: 100%;
	width: 35px;
	background: url(../icons/edit.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
.user_header{
	position: absolute;
	left: 5px;
	top: 10px;
	padding-left: 35px;
	font-size: 15px;
	font-weight: bold;
	color: #ddd;
	letter-spacing: 0.5px;
}
.editicon::after{
	content:"";
	position: absolute;
	left: 3;
	top:0;
	height: 100%;
	width: 35px;
	background: url(../icons/edit.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
.profileicon::after{
	content:"";
	position: absolute;
	left: 3;
	top:0;
	height: 100%;
	width: 35px;
	background: url(../icons/profile.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
.remove{
	background-color: #e20000;
}
.remove:hover{
	background-color: #ff1111;
}
.remove::after{
	content:"";
	position: absolute;
	left: 3;
	top:0;
	height: 100%;
	width: 35px;
	background: url(../icons/delete.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
.stats_img{
	max-width: 150px;
	transition: all 0.5s;
}
.stats_img_container{
	border-radius: 1px;
	margin: 0 auto;
	max-width: 150px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.stats_img_container::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: rgba(0, 66, 188, 0.5);
	background-image: url(../icons/look.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	opacity: 0;
	transition: all 0.4s;
}
.stats_img_container:hover::after{
	opacity: 1;
}
.stats_img_container:hover > .stats_img{
	transform: scale(1.5) rotate(5deg);
}



/***********  achivement button **************/
.user_achivement_btn {
	overflow:hidden; /* comment this property */
	height: 40px;
	width: 150px;
	display: block;
	text-align:center;
	background-color:#d62b50;
	color:#fff;
	text-decoration:none;
	position:relative;
	font-size: 14px;
  text-transform: uppercase;
	box-shadow:rgba(0,0,0,.15) 0 1px 2px;
	transition: all 1s;
	font-weight: bold;
	border: none;
	border-radius: 17px;
	outline:none;
}
.user_achivement_btn:hover {
	box-shadow:rgba(0,0,0,.3) 0 8px 25px, rgba(0,0,0,.2)0 1px;
	text-shadow:#fff 0 0 12px;
    letter-spacing: 1px;
}
.user_achivement_btn:active {
	box-shadow:rgba(0,0,0,.2) 0 8px 25px;
	transition: all 0s;
}
.user_achivement_btn span { 
	position:relative;
	z-index:9;
}
.user_achivement_btn:before, .user_achivement_btn:after {
	position:absolute;
	top:0;
	left:0;
	z-index:7;
	display:block;
	content:" ";
}
.user_achivement_btn:after {
	height:100%;
	width:2000px;
	transition: all .8s;
	background: linear-gradient(135deg,  #d62b50 0%,#d62b50 19%,#e5365c 37%,#f55f80 50%,#ea2803 66%,#ff6600 75%,#c72200 100%);
}
.user_achivement_btn:before {
	height:26px;
	width:100%;
	top:-50px;
	z-index:10;
	opacity:0;
	background-color:rgba(255,255,255,.15);
	transition: all .5s;
}
.user_achivement_btn:hover:before {
	top:0;
	opacity:1;
}
.user_achivement_btn:hover:after {
	left:-1750px;
}
.user_achivement_btn:active:before {
	height:100%;
	background-color:rgba(255,255,255,.8);
	box-shadow:inset rgba(255,255,255,.5)0 0 25px;
	transition: all 0s;
}
.section{
	width: 100%;
	position: relative;
	margin: 20px;
	padding-top: 10px;
}
.section h1,.section h2,.section h3,.section h4,.section h5,.section h6{
	margin-top: 0;
	color: #333;
}
.section::after{
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 2px;
	background: #555;
}
.achivement_blocks{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.achivement_img_container{
	position: relative;
	text-align: center;
	margin: 5px;
	transition: all 0.2s;
}
.achivement_img_container:hover{
	transition: all 0.4s;
	transform: scale(1.2);
}

.achivement_img_container img{
	width: 150px;
	height: 150px;
}
.achivement_desc{
	font-weight: bold;
	padding: 5px;
	width: 140px;
	background: #eee;
}
.fb .user_info_name{
	background: #3B5998;
}
.fb .user_info_value{
	background: #4b71c1;
}
.snap .user_info_name{
	background: #FFFC00;
	color: #555;
}
.snap .user_info_value{
	background: #fffc72;
	color: #333;
}
.web .user_info_name{
	background: #21759B;
}
.web .user_info_value{
	background: #2fa4d8;
}
.pinterest .user_info_name{
	background: #BD081C;
}
.pinterest .user_info_value{
	background: #ea2c41;
}
.twitter .user_info_name{
	background: #1DA1F2;
}
.twitter .user_info_value{
	background: #5ec1ff;
}
.tumbrl .user_info_name{
	background: #36465D;
}
.tumbrl .user_info_value{
	background: #587399;
}
.media_container{
	display: flex;
	flex-wrap: wrap;
		justify-content: space-around;
}
.media_input_container{
	display: flex;
}
.media_input{
	background: #aaa;
	box-sizing: border-box;
	border: 2px solid red;
	font-size: 14px;
	height: 30px;
	width: 230px;
	outline: none;
	text-indent: 5px;
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 20px;
	color: #ebebeb;
}
.media_icon{
	display: inline-block;
	background: blue;
	width: 30px;
	height: 30px;
}
.fb_input{
	background: #4a70bf;
	border: #314b82;
}
.print_input{
	background: #f7112a;
	border: #BD081C;
}
.print_icon{
	background: url(../icons/pinterest.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #BD081C;
}
.fb_icon{
	background: url(../icons/facebook.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #3B5998;
}
.snap_input{
	background: #fffd8e;
	border-color: #FFFC00;
	color: #333;
}
.snap_icon{
	background: url(../icons/snapchat.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFFC00;
}
.twitter_input{
	background: #54beff;
	border-color: #1DA1F2;
}
.twitter_icon{
	background: url(../icons/twitter.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #1DA1F2;
}
.web_input{
	background: #f2423c;
	border-color: #e5221b;
}
.web_icon{
	background: url(../icons/web.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #e5221b;
}
.tumblr_input{
	background: #587399;
	border-color: #36465D;
}
.tumblr_icon{
	background: url(../icons/tumblr.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #36465D;
}
.m10{
	margin: 10px 0px;
}
.media_edit{
	display: none;
}
.my_media_container{
	display: flex;
	justify-content: center;
}
.my_media{
	margin: 10px;
	padding: 10px;
	background: gray;
	padding-left: 40px;
	border-radius: 25px;
	color: #ebebeb;
}
.my_facebook{
	background: #3B5998;
	position: relative;
}
.my_facebook:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 37px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/facebook.svg);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}
.my_snapchat{
	background: #FFFC00;
	position: relative;
}
.my_snapchat:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 37px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/snapchat.svg);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}
.my_twitter{
	background: #1DA1F2;
	position: relative;
}
.my_twitter:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 37px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/twitter.svg);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}
.my_tumblr{
	background: #36465D;
	position: relative;
}
.my_tumblr:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 37px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/tumblr.svg);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}
.my_print{
	background: #BD081C;
	position: relative;
}
.my_print:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 37px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/Pinterest.svg);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}
.my_web{
	background: #1a9b5d;
	position: relative;
}
.my_web:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 37px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/web.svg);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}
.editbtn{
	margin: 10px 0;
	padding: 10px;
	border-radius: 25px;
	border: 1px solid #ff9400;
	background-color: #ffa528;
	color: #333;
	font-weight: bold;
	padding-left: 35px;
	padding-right: 15px;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: all 0.4s;
}
.editbtn:hover{
	background-color: #ff9400;
}
.editbtn:after{
	content: "";
	position: absolute;
	left: 5px;
	top: 0;
	width: 35%;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/edit_black.png);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}
.savebtn{
	margin: 10px 0;
	padding: 10px;
	border-radius: 25px;
	border: 1px solid #0ea530;
	background-color: #12d13c;
	color: #ebebeb;
	font-weight: bold;
	padding-left: 35px;
	padding-right: 15px;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: all 0.4s;
}
.savebtn:hover{
	background-color: #0ea530;
}
.savebtn:after{
	content: "";
	position: absolute;
	left: 5px;
	top: 0;
	width: 35%;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background: url(../icons/save.png);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}