body {
  background-color: #111;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.global-wrapper {
  width: 100%;
  height: 100%;
}
/********  navigation   ***********/
.navfix{
  width: 100%;
  height: 45px;
}
.top-nav {
  position: fixed;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  z-index: 3;
}
.cnav{
  /* background: orange; */
  background: url(../img/abstract.jpg);
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.nav-logo {
  width: 30px;
  vertical-align: middle;
  margin-bottom: 5px;
}
.ghome {
  cursor: pointer;
}
.nav-logo-text {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 0 10px;
  font-weight: bold;
}
.user-nav-block {
  position: relative;
  border: none;
  background: transparent;
  height: 100%;
  padding-right: 10px;
  padding-left: 50px;
  transition: all 0.2s;
  outline: none;
}
.user-nav-block:hover{
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}
.l-btn {
  position: absolute;
  right: 5%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  outline: none;
}
.l-btn:hover {
  text-decoration: underline;
}
.user-nav-avatar{
  position: absolute;
  top: 12%;
  left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* background: url(../userdata/avatars/avatar.png); */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
}

/******* scroll bar ******/
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #303030;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #313131;
}
::-webkit-scrollbar-thumb:active {
  background: #242424;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #252525;
}
::-webkit-scrollbar-track:active {
  background: #252525;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.clearfix{
  clear: both;
}
.hr{
  margin: 10px 0;
}

.un-container{
  position: absolute;
  z-index: 9999;
  top:120%;
  left:-50%;
  width: 200px;
  display: none;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}
.un-container::after{
  content: "";
  position: absolute;
  top: -6%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.un-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.un-container ul a{
    display: block;
    width: 100%;
    background: #fff;
    padding: 15px 0;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    padding-left: 10%;
    color: #111;
}
/*.un-container ul a:first-child{
  border-top: 0;
}
.un-container ul a:last-child{
  border-bottom: 0;
}*/
.un-container ul a:hover{
  background: #eee;
 /* font-weight: bold; */
}
.nav-icon{
  position: absolute;
  top: 0;
  left: 5%;
  width: 35px;
  background: red;
  height: 100%;
}
.nav-icon-photo{
  background: url(../icons/photo.png);
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-icon-profile{
  background: url(../icons/user.png);
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-icon-acc{
  background: url(../icons/settings.png);
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-icon-logout{
  background: url(../icons/logout.png);
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}