body {
  background-color: #111;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.global-wrapper {
  width: 100%;
  height: 100%;
}
/********  navigation   ***********/
.navfix{
  width: 100%;
  height: 45px;
}
.top-nav {
  position: fixed;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  z-index: 15;
}
.cnav{
  /* background: orange; */
  background: url(../img/abstract.jpg);
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.nav-logo {
  width: 30px;
  vertical-align: middle;
  margin-bottom: 5px;
}
.ghome {
  cursor: pointer;
}
.nav-logo-text {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 0 10px;
  font-weight: bold;
}
.user-nav-block {
  position: relative;
  border: none;
  background: transparent;
  height: 100%;
  padding-right: 10px;
  padding-left: 50px;
  transition: all 0.2s;
}
.user-nav-block:hover{
  background: rgba(0,0,0,0.1);
}
.l-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
}
.l-btn:hover {
  text-decoration: underline;
}
.user-nav-avatar{
  position: absolute;
  top: 12%;
  left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: red;
}

/******* scroll bar ******/
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #303030;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #313131;
}
::-webkit-scrollbar-thumb:active {
  background: #242424;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #252525;
}
::-webkit-scrollbar-track:active {
  background: #252525;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.clearfix{
  clear: both;
}
.hr{
  margin: 10px 0;
}
